/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    margin-top: auto;
}

#footer-text {
    font-size: 20px;
}

.home-header {
    font-family: 'Courier New', monospace;
}

#progress-bar {
    --scrollAmount: 0%;
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
    width: var(--scrollAmount);
    height:10px;
    position: fixed;
    margin-top: 8px;
    padding-top: 0px;
    left:0;
}

.blog-meta {
    font-family: 'Courier New', monospace;
}

.page-title a:link {
    color: black;
}

.page-title a:hover {
    color: blue;
}

.blog-blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
.blog-blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
.blog-blockquote p {
    display: inline;
}
