---
layout: default
---
<div class="mt-2">
    <p><a href="{{ site.baseurl }}/certificates.html"><i class="bi bi-arrow-left"></i> Back to Certificates</a></p>
</div>
<div class="mt-2">
    <div class="">
        <h1>{{ page.name }}</h1>
    </div>
    <div class="">
        <img class="img-fluid" src="{{ site.baseurl }}/assets/images/certificates/{{ page.image }}" alt="Image of {{ page.short_name }}">
    </div>
    <div class="">
        <p>Issued on {{ page.date | date: "%B %Y" }}</p>
        <p><strong>Institute</strong>: {{ page.institute }}</p>
        <p><strong>University</strong>: {{ page.university }}</p>
        <p><strong>Valid certificate ID</strong>: {{ page.certificate_id }}</p>
        <p><a href="{{ page.link }}" target="_blank">Certificate link</a></p>
        <p class="mt-1">{{ page.content }}</p>
    </div>
</div>
