---
layout: default
---
<div class="" id="progress-bar">
</div>
<div class="pt-3">
    <p><a href="{{ site.baseurl }}/blog.html"><i class="bi bi-arrow-left"></i> Back to Blog</a></p>
</div>
<div class="page-header">
    <h1>{{ page.title }}</h1>
    <p class="blog-meta">
        {% if page.date %}
            {{ page.date | date: "%-d %B %Y" }} |
        {% endif %}
        <i class="bi bi-clock"></i>
        <span id="read-time"></span> |
        <i class="bi bi-tag"></i>
        {% assign categories = site.categories | sort %}
        {% for cat in page.categories %}
            {% for category in categories %}
                {% if category.category_name == cat %}
                    <a href="{{ site.baseurl }}{{ category.url }}" class="badge badge-success blog-meta">{{ category.category_name }}</a>
                    {% break %}
                {% endif %}
            {% endfor %}
            <a href="{{ site.baseurl }}{{ category.url }}" class="badge badge-light blog-meta">{{ category.category_name }}</a>
        {% endfor %}
    </p>
    <p class="blog-meta" id="read-time"></p>
</div>
{% if page.cover_image %}
    <div class="">
        <img class="img-fluid" src="{{ site.baseurl }}/assets/images/blogs/{{ page.cover_image }}" alt="">
    </div>
{% endif %}
<div class="mt-5">
    {{ content }}
</div>

<script src="{{ site.baseurl }}/assets/js/post.js">
</script>
